body div.container {
  margin-top: 70px;
  background-color: #EDF4F9;
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
  box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2);
  border-radius: 8px;
}

form{
  padding-top: 10px;
}

body {
  background-color: #dedede;
}
